<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <title>Document</title>
</head>

<header>
    <div class="top-bar">
            <img src="/images/logo-6-enero.jpeg" alt="logo">

            <form action="/products/search" method="POST">
                <div class="search-bar-container">
                    <input type="search-text" name="searchTxt" placeholder="Buscar">
                    <button class="search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        <% if (locals.isLogged) { %>
            <div class="avatar">
                <img class="userImage" src="/images/users/<%= locals.isLogged.image %>" style="border-radius: 100%;" alt="foto">
                <p class="bienvenida">Bienvenid@ <%= locals.isLogged.first_name %></p>
            </div>
            <% } %> 
        
        <button class="burger-menu"><i class="fa fa-bars"></i></button>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Historial</a></li>
            <% if (locals.isLogged && locals.isLogged.level.level == 'Admin') { %>
                <li><a href="/products/create">Crear Producto</a></li>                
            <% } %>
        </ul>
           
        <ul>
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile">Perfil</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } else {%>
                <li><a href="/users/register">Registrarse</a></li>
                <li><a href="/users/login">Log In</a></li>
            <% } %>     
        </ul>
    </nav>
</header>

</html>