* {
    box-sizing: border-box;
}

:root{
    --primario: #faf3e3;
    --secundario: #ff9f29;
    --terciario: #1a4d2e;
    --negro: black;
    --blanco: white;
}

h1 {
    color: #ff9f29;
    text-align: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 120px;
    padding: 5px;
    border-radius: 50%;
}

p {
    color: #ff9f29;
}

.username, .last-name, .email{
    background-color: #1a4d2e;
    padding: 5px;
    border-radius: 5px;
}

@media (min-width: 769px) {
 
    h1 {
        margin-top: 160px;
    }
    
}
