* {
    box-sizing: border-box;
}

:root{
    --primario: #fabc3c;
    --secundario: #ffb238;
    --terciario: #f19143;
    --cuarto: #FF773D;
    --quinto: #F55536;
    --sexto: #E70E02;
}

body{
font-family: 'Roboto Slab', serif;
background-color: var(--terciario);
}

/***********************FOOTER*******************************/

footer{
    background-color: var(--quinto);
    color: white;
    font-size: 16px;
}
footer p {
    margin: 0px;
    text-align: center;
    padding-bottom: 10px;
}
.contacto-redes {
   display: flex;
}
.contacto {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px;
    width: 50%;
}
.contacto a{
    text-decoration: none;
    color: white;

}
.redes {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.redes i {
    font-size: 20px;
    color: white;
    
}


@media (min-width: 769px) {
    .contacto {
        gap: 15px;
    }
}

